@font-face {
    font-family: "Electrohormonix";
    src: url("../fonts/electroharmonix.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "joystix";
    src: url("../fonts/joystix monospace.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* General Styles */
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--dark-bg);
    color: #ffffff;
  }
  :root {
    --primary-color: #00b5e2;
    --secondary-color: #00629b;
    --dark-bg: #060606;
    --dark-bright-bg: #101010;
    --dark-bright-bg-nav: rgba(16, 16, 16, 0.9);
    --hero-font: "Doto";
    --padding-card: 16px;@font-face {
        font-family: "Electrohormonix";
        src: url("../fonts/electroharmonix.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
      }
      
      @font-face {
        font-family: "joystix";
        src: url("../fonts/joystix monospace.otf") format("opentype");
        font-weight: normal;
        font-style: normal;
      }
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      /* General Styles */
      body {
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: var(--dark-bg);
        color: #ffffff;
      }
      :root {
        --primary-color: #00b5e2;
        --secondary-color: #00629b;
        --dark-bg: #060606;
        --dark-bright-bg: #101010;
        --dark-bright-bg-nav: rgba(16, 16, 16, 0.9);
        --hero-font: "Doto";
        --padding-card: 16px;
      }
      
  }

  .logo {
    color: var(--primary-color);
  }
  
  h2 {
    font-size: 32px;
    color: white;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    backdrop-filter: blur(8px);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
  }
  
  .nav-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .logo img {
    height: 50px;
    width: auto;
  }
  .logo a{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
  }
  

.overview-section {
    padding: 4rem 2rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
    gap: 2rem;
    flex-wrap: wrap;
}

.container:nth-child(even) {
    flex-direction: row-reverse;
}

.left {
    flex: 1;
    min-width: 300px;
}

.image-content {
    flex: 1;
    min-width: 300px;
    align-self: center;
}

.image-content img {
    height: 200px;
    border-radius: 1rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.text-content-h2 h2 {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #fff;
}

.text-content ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    font-family: "Roboto", sans-serif;
    color: #fff;
    line-height: 1.6;
}

.text-content ul ul {
    list-style-type: circle;
    padding-left: 1.5rem;
    margin-top: 0.5rem;
}
