@font-face {
  font-family: "Electrohormonix";
  src: url("../fonts/electroharmonix.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "joystix";
  src: url("../fonts/joystix monospace.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--dark-bg);
  color: #ffffff;
}
:root {
  --primary-color: #00b5e2;
  --secondary-color: #00629b;
  --dark-bg: #060606;
  --dark-bright-bg: #101010;
  --dark-bright-bg-nav: rgba(16, 16, 16, 0.9);
  --hero-font: "Doto";
  --padding-card: 16px;
}


.logo {
  color: var(--primary-color);
}

h2 {
  font-size: 32px;
  color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  backdrop-filter: blur(8px);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
}

.nav-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo img {
  height: 50px;
  width: auto;
}
.logo a{
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

/* Hero Section */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  background: #060606;
  overflow: hidden;
}

/* Hero Content */
.hero-content {
  position: absolute;
  display: flex;
  align-items: flex-start;
  z-index: 2;
  text-align: center;
  opacity: 1;
}

.hero-content h1 {
  /* font-family: "Smooch Sans", serif; */
  font-family: var(--hero-font);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

#home-h1-strikes {
  opacity: 1;
  font-family: var(--hero-font);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: red;
}
.hero-content {
  opacity: 1;
  animation: none /* showContent 1s 0s ease-in-out forwards */;
}

#hero-content-h1 {
  opacity: 1;
  animation: none /* showContent 1s 0.4s ease-in-out forwards */;
}

#home-h1-strikes {
  opacity: 1;
  content: "Strikes";
  animation: none /* showContent 1.2s 0.7s ease-in-out forwards */;
}

@keyframes showContent {
  from {
    transform: translateY(10px);
    filter: blur(2px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes changeColor {
  from {
    color: red;
  }
  to {
    color: #00b5e2;
  }
}
/* Buttons */
.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn{
  padding: 12px 24px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border-radius: 12px; /* Rounder Buttons */
  transition: 0.3s ease-in-out;
}

.button {
  padding: 12px 24px;
  margin-top: 20px;
  background: var(--secondary-color);
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border-radius: 12px; /* Rounder Buttons */
  transition: 0.3s ease-in-out;
}
.button:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

/* First button */
.btn:first-child{
  background: var(--secondary-color); /* Blue color */
}

/* Second button */
.btn:last-child {
  background: var(--primary-color); /* Light blue */
}

/* Button Hover Effect */
.btn:hover{
  transform: scale(1.1);
  filter: brightness(1.2);
}
.video-container{
  z-index: 2;
  opacity: 1;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  width: 100%;
  align-items: center;
}

.video-container img{
  z-index: 100;
  border-radius: 2rem;
  margin-bottom: 50px;
}

/* Hamburger button styles */
.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1000;
}

.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

/* Navigation links */
.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--primary-color);
}
nav.scrolled {
  background-color: var(--dark-bright-bg); /* Dark Grey */
  backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* Nav Item Hover Effect */
nav ul li a:hover {
  color: #00b5e2; /* Turn text blue */
  transform: scale(1.1); /* Scale up */
}



/* Responsive Design */
@media (max-width: 768px) {
  
}

.footer{
  background-color: var(--dark-bright-bg);
}
.overview-section {
  background-color: var(--dark-bg);
  padding: 60px 20px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.text-content {
  flex: 1;
  max-width: 80%;
  padding: 20px;
}

.text-content h2 {
  padding-left: 1rem;
  font-size: 32px;
  color: white;
  margin-bottom: 15px;
}
.text-content-p{
  width: max-content;
}

.text-content li {
  width: fit-content;
  text-decoration: none;
  max-width: 100%;
  font-size: 16px;
  color: #f1f1f1;
  line-height: 2;
}

.image-content {
  flex: 2;
  max-width: 45%;
  text-align: center;
}

.image-content img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#text-content-p-1{
  padding-left: 3rem;
}

.metrics{
  display:flex;
  justify-content: center;
  margin-bottom: 50px;
}

.circle-container {
  position: relative;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 20px;
}
circle {
  transition: stroke-dashoffset 0.5s ease-in-out;
}

svg {
  transform: rotate(-90deg);
}
.percentage-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 50px;
}


#face {
  width: 200px;
  flex: 2;
}

#face img{
  max-width: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-content-blah{
  width: 80%;
}

.left-blah{
  width: 60%;
}

.text-content-blah li {
  width: fit-content;
  text-decoration: none;
  max-width: 100%;
  font-size: 16px;
  color: #f1f1f1;
  line-height: 2;
}